.aliance-title {
    color: var(--letter-color);
    text-align: center;
}

.container {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .container .glass {
    position: relative;
    width: 400px;
    padding: 4rem 2rem; 
    background: linear-gradient(#fff2, transparent);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 10px;
    margin: 0 -4rem;
    backdrop-filter: blur(10px);
    transform: rotate(calc(var(--r) * 1deg));
    @include rwd(l) {
      width: 500px;
    }
  }
  
  
  @include rwd(l) {
    .container:hover .glass {
      transform: rotate(0deg);
      margin: 0 2rem;
    }
    
    .container .glass::before {
      content: attr(data-text);
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 40px;
      background: rgba(255, 255, 255, 0.05);
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--letter-color);
      flex-direction: column;  
      @include rwd(l) {
        flex-direction: row;  
      }
    }
  }

  .container .glass svg {
    font-size: 2.5em;
    fill: var(--letter-color);;
  }
  
  .gass-container {
    color: var(--letter-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .glass-description {
    width: 100%;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }

  .toggle-button {
    border: 1px solid var(--letter-color);
    background-color: var(--letter-color);
    color: var(--bg-color2);
    cursor: pointer;
    padding: .5rem 1rem;
    border-radius: .5rem;
    transition: transform .3s;
    &:hover {
        transform: scale(1.1);
    }
  }