.services-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
    padding: 4rem 3rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    gap: 3rem;
    @include rwd(l){
        padding: 2rem 6rem;
        flex-direction: row;
    }
}

.services-content-container {
    width:  100%;
    @include rwd(l){
        width: 50%;
    }
}

.services-title {
    color: var(--letter-color);
    font-size: var(--h2-font-size);
}

.services-subtitle{
    color: var(--letter-color);
    font-size: var(--h4-font-size);
    padding-right: 50%;
    text-decoration: overline;
}

.services-description {
    color: var(--letter-color);
    font-size: var(--h3-font-size);
} 

.services-icons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.services-icon {
    width: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & p {
        color: var(--letter-color);
        padding: 0;
        text-align: center;
        @include rwd(l){
            font-size: var(--h3-font-size);
        }
    }
    &:hover{
        animation : floating 2s infinite ease-in-out;
        cursor: pointer;
    } 
    animation : none;
}
.icon {
    width: 3rem;
    height: 3rem;
    color: var(--letter-color);
}

@keyframes floating {
    from {
        // transform: translateY(0px);
        transform: scale(1);
    }
    65% {
        // transform: translateY(15px);
        transform: scale(1.1);
    }
    to {
        // transform: translateY(0px);
        transform: scale(1);
    }
}

/* Estilos para el modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    padding: 3%;
    @include rwd(l){
        padding: 3% 20%;
    }
  }
  
  .modal-content {
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    padding: 2rem;
    border-radius: 5px;
    text-align: center;
    color: var(--letter-color);
  }
  
  .modal-text {
    padding: 2rem;
    text-align: left;
    overflow-y: scroll;
    width: 100%;
    max-height: 75%;
  }

  .button-modal {
    margin-top: 1rem;
    padding: 1rem 2rem;
    border: none;
    font-weight: bolder;
    background: var(--bg-color3);
    color: var(--letter-color2);
    cursor: pointer;
    border-radius: 5px;
  }