:root {
  --primary: rgba(0,32,102,1);
  --button-color: #191919 ;
  --letter-color: #222222f5;
  --letter-color2: #F3F5F9;
  --bg-color:#FFFF;
  --bg-color2: #F6F9FC;
  --bg-color3: #1D1D1B;
  --rounded-element: #F3F5F9;
  background-color: var(--bg-color);
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
  --h1-font-size: 2rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --body-font-size: .9rem;
  --small-font-size: .75rem;
}
@media screen and (min-width: 960px) {
  :root {
    --h1-font-size: 2.5rem;
    --h2-font-size: 2rem;
    --h3-font-size: 1.5rem;
    --body-font-size: 1rem;
    --small-font-size: .8rem;
  }
}

/* Media Query para adaptar el color al mismo del sistema */
@media (prefers-color-scheme: dark) {
  :root {
    --letter-color: #FFFF;
    --bg-color2: #1D1D1B;
    --bg-color: #181816;
    --rounded-element: #232932;
  }
  .main-logo img {
    filter: invert(1);
  }
  .contact-logo {
    filter: invert(1);
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: var(--body-font-size);
  min-height: 100vh;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

.title {
  display: flex;
  padding-top: 1rem;
  justify-content: center;
  color: var(--letter-color);
}

.main-container {
  height: 100%;
  width: 90%;
  padding-top: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: var(--letter-color);
  font-size: var(--h3-font-size);
}
@media screen and (min-width: 960px) {
  .main-container {
    width: 100%;
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

.main-header {
  overflow: hidden;
  display: flex;
  height: 6rem;
  width: 100%;
  padding: 0.1rem 2rem;
  background-color: var(--bg-color3);
  justify-content: space-between;
  align-items: center;
  box-shadow: -5px -5px 0.7em var(--button-color);
  z-index: 10;
  box-shadow: 0px 15px 1px rgba(0, 0, 0, 0.2);
}

.main-menu {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
  list-style: none;
}
@media screen and (min-width: 960px) {
  .main-menu {
    display: flex;
  }
}

.main-menu__item {
  padding: 1rem;
  transition: transform 0.3s;
}
.main-menu__item:hover {
  transform: scale(1.1);
}

.main-menu__link {
  margin-left: 1rem;
  color: white;
}
@media screen and (min-width: 960px) {
  .main-menu__link {
    color: var(--letter-color2);
  }
}

.main-logo-text {
  color: var(--letter-color2);
}

.main-logo img {
  margin-left: 2rem;
  margin-top: 0.2em;
  display: flex;
  height: 4rem;
  transition: transform 0.3s;
}
.main-logo img:hover {
  transform: scale(1.1);
}

.main-nav {
  position: absolute;
  height: auto;
  width: 100%;
  background-color: var(--bg-color3);
  top: -16.5rem;
  transition: all 0.3s;
  z-index: var(--z-fixed);
}
@media screen and (min-width: 960px) {
  .main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
    background: transparent;
    padding-top: 0;
    height: auto;
    width: auto;
  }
}
.main-nav.show {
  position: fixed;
  top: 6.5rem;
  right: 0;
}

.main-menu-toggle {
  margin-right: 1rem;
  width: 2.1rem;
  height: 1.4rem;
  background: linear-gradient(var(--letter-color2) 20%, transparent 20%, transparent 40%, var(--letter-color2) 40%, var(--letter-color2) 60%, transparent 60%, transparent 80%, var(--letter-color2) 80%);
  cursor: pointer;
}
@media screen and (min-width: 960px) {
  .main-menu-toggle {
    display: none;
  }
}

.WhatsappBtn {
  position: fixed;
  bottom: 0;
  right: 0;
}

.button {
  font-family: inherit;
  font-size: 20px;
  background-color: var(--letter-color);
  color: var(--bg-color2);
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}

.button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.button:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.button:hover span {
  transform: translateX(5em);
}

.button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }
  to {
    transform: translateY(-0.1em);
  }
}
.button2 {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #090909;
  padding: 0.7em 3.3em 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
}

.button2 > svg {
  height: 30px;
  position: absolute;
  padding: 0px 5px;
  margin-top: -4px;
}

.button2:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.button2:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #009087;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:hover {
  color: #ffffff;
  border: 1px solid #009087;
}

.button2:hover:before {
  top: -35%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button2:hover:after {
  top: -45%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.btn {
  text-align: center;
  align-items: center;
  padding: 1.1em 1em;
  margin: 0.5em;
  border-radius: 0.2em;
  border: none;
  background-color: transparent;
  color: black;
  will-change: filter background-color;
  outline: 0.1em solid var(--letter-color);
  transition: filter 0.3s, background-color 0.3s;
}
.btn:hover {
  background-color: var(--letter-color);
  cursor: pointer;
  color: white;
}

@media (prefers-color-scheme: dark) {
  .btn {
    color: white;
  }
  .btn:hover {
    color: black;
  }
}
.Banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60vh;
}
@media screen and (min-width: 960px) {
  .Banner {
    height: 90vh;
  }
}
.Banner .Banner-backgroud {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: fill;
  opacity: 0.7;
  z-index: -1;
}

.Banner-content {
  color: var(--letter-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100%;
}
@media screen and (min-width: 960px) {
  .Banner-content {
    width: 60%;
    margin: 4rem;
    height: 80%;
  }
}

.Banner-title {
  font-size: 2rem;
  font-weight: bold;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 960px) {
  .Banner-title {
    font-size: 4rem;
  }
}

.Banner-message {
  font-size: 1rem;
  text-align: center;
}
@media screen and (min-width: 960px) {
  .Banner-message {
    font-size: 1.5rem;
  }
}

.Banner-second {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
}
@media screen and (min-width: 960px) {
  .Banner-second {
    height: 70vh;
  }
}
.Banner-second .Banner-backgroud-second {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: fill;
  opacity: 0.7;
  z-index: -1;
}

.Banner-content-second {
  color: var(--letter-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100%;
}
@media screen and (min-width: 960px) {
  .Banner-content-second {
    width: 60%;
    margin: 4rem;
    height: 80%;
  }
}

.Banner-title-second {
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  text-decoration: overline;
}
@media screen and (min-width: 960px) {
  .Banner-title-second {
    font-size: 3rem;
  }
}

.Banner-message-second {
  font-size: 1rem;
  text-align: left;
}
@media screen and (min-width: 960px) {
  .Banner-message-second {
    font-size: 1.5rem;
  }
}

.Banner-team {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3em;
  padding-bottom: 7em;
  width: 100%;
}
@media screen and (min-width: 960px) {
  .Banner-team {
    height: 30rem;
  }
}
.Banner-team .Banner-backgroud {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: fill;
  z-index: -1;
  opacity: 0.7;
}

.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 2rem;
  color: var(--letter-color);
  background-color: var(--bg-color2);
}
@media screen and (min-width: 960px) {
  .about-section {
    padding: 5rem 8rem;
  }
}

.subtitle-about {
  font-style: italic;
}

.title-about {
  position: relative;
}
.title-about::before {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 25%;
  width: 50%;
  height: 2px;
  background-color: var(--letter-color);
}

.services-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color);
  padding: 4rem 3rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  gap: 3rem;
}
@media screen and (min-width: 960px) {
  .services-container {
    padding: 2rem 6rem;
    flex-direction: row;
  }
}

.services-content-container {
  width: 100%;
}
@media screen and (min-width: 960px) {
  .services-content-container {
    width: 50%;
  }
}

.services-title {
  color: var(--letter-color);
  font-size: var(--h2-font-size);
}

.services-subtitle {
  color: var(--letter-color);
  font-size: var(--h4-font-size);
  padding-right: 50%;
  text-decoration: overline;
}

.services-description {
  color: var(--letter-color);
  font-size: var(--h3-font-size);
}

.services-icons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.services-icon {
  width: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: none;
}
.services-icon p {
  color: var(--letter-color);
  padding: 0;
  text-align: center;
}
@media screen and (min-width: 960px) {
  .services-icon p {
    font-size: var(--h3-font-size);
  }
}
.services-icon:hover {
  animation: floating 2s infinite ease-in-out;
  cursor: pointer;
}

.icon {
  width: 3rem;
  height: 3rem;
  color: var(--letter-color);
}

@keyframes floating {
  from {
    transform: scale(1);
  }
  65% {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}
/* Estilos para el modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  padding: 3%;
}
@media screen and (min-width: 960px) {
  .modal-overlay {
    padding: 3% 20%;
  }
}

.modal-content {
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  padding: 2rem;
  border-radius: 5px;
  text-align: center;
  color: var(--letter-color);
}

.modal-text {
  padding: 2rem;
  text-align: left;
  overflow-y: scroll;
  width: 100%;
  max-height: 75%;
}

.button-modal {
  margin-top: 1rem;
  padding: 1rem 2rem;
  border: none;
  font-weight: bolder;
  background: var(--bg-color3);
  color: var(--letter-color2);
  cursor: pointer;
  border-radius: 5px;
}

.aliance-title {
  color: var(--letter-color);
  text-align: center;
}

.container {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container .glass {
  position: relative;
  width: 400px;
  padding: 4rem 2rem;
  background: linear-gradient(rgba(255, 255, 255, 0.1333333333), transparent);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 10px;
  margin: 0 -4rem;
  backdrop-filter: blur(10px);
  transform: rotate(calc(var(--r) * 1deg));
}
@media screen and (min-width: 960px) {
  .container .glass {
    width: 500px;
  }
}

@media screen and (min-width: 960px) {
  .container:hover .glass {
    transform: rotate(0deg);
    margin: 0 2rem;
  }
  .container .glass::before {
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: rgba(255, 255, 255, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--letter-color);
    flex-direction: column;
  }
}
@media screen and (min-width: 960px) and (min-width: 960px) {
  .container .glass::before {
    flex-direction: row;
  }
}
.container .glass svg {
  font-size: 2.5em;
  fill: var(--letter-color);
}

.gass-container {
  color: var(--letter-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.glass-description {
  width: 100%;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.toggle-button {
  border: 1px solid var(--letter-color);
  background-color: var(--letter-color);
  color: var(--bg-color2);
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: transform 0.3s;
}
.toggle-button:hover {
  transform: scale(1.1);
}

.mision-container {
  border-radius: 1rem;
  display: grid;
  gap: 3rem;
  padding: 2rem;
  background-color: var(--bg-color);
  width: 100%;
  color: var(--letter-color);
  grid-template-columns: repeat(1, 1fr);
  margin-top: 2rem;
}
@media screen and (min-width: 960px) {
  .mision-container {
    padding: 4rem 6rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

.mision-imagen-container {
  width: 100%;
  order: 1;
}
@media screen and (min-width: 960px) {
  .mision-imagen-container {
    order: 0;
  }
}
.mision-imagen-container img {
  width: 100%;
  border-radius: 1rem;
  filter: drop-shadow(0px 8px 5px rgba(0, 0, 0, 0.25));
}

.vision-imagen-container {
  order: 1;
}

.news-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  flex-direction: column;
}

.news-title {
  color: var(--letter-color);
  font-size: var(h2-font-size);
}

.news-card-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  --border-radius: 0.75rem;
  --primary-color: #969696;
  width: 300px;
  padding: 1rem;
  cursor: pointer;
  border-radius: var(--border-radius);
  background: var(--bg-color2);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.03);
  position: relative;
  color: var(--letter-color);
}

.card > * + * {
  margin-top: 1.1em;
}

.card .card__content {
  color: var(--letter-color);
  font-size: 0.86rem;
}

.card .card__title {
  padding: 0;
  font-size: 1.3rem;
  font-weight: bold;
}

.card .card__date {
  color: #6e6b80;
  font-size: 0.8rem;
}

.card .card__arrow {
  position: absolute;
  background: var(--primary-color);
  padding: 0.4rem;
  border-top-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  bottom: 0;
  right: 0;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card svg {
  transition: 0.2s;
}

/* hover */
.card:hover .card__title {
  color: var(--primary-color);
  text-decoration: underline;
}

.card:hover .card__arrow {
  background: #111;
}

.card:hover .card__arrow svg {
  transform: translateX(3px);
}

.contact-container {
  color: var(--letter-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color2);
  padding: 3rem 1.5rem;
}
@media screen and (min-width: 960px) {
  .contact-container {
    padding: 5rem;
  }
}

.contact-logo {
  width: 15rem;
}

.form-body {
  display: grid;
  padding-top: 2rem;
  gap: 1.2rem;
}
@media screen and (min-width: 960px) {
  .form-body {
    grid-template-columns: repeat(2, 2fr);
  }
}

.contact-form {
  display: grid;
  place-items: center;
  padding: 1.5rem;
  background-color: var(--bg-color);
  border-radius: 2%;
  width: 100%;
}
@media screen and (min-width: 960px) {
  .contact-form {
    width: 60%;
    padding: 5rem;
  }
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}

.form-group-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-group-btn button {
  width: 100%;
  cursor: pointer;
}

.form-group select {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.3rem;
}

.container-form {
  width: 100%;
  padding: 4rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.subtitle-form {
  color: var(--letter-color);
  font-size: var(--h3-font-size);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1.5rem;
  gap: 1.5rem;
}

.label {
  position: relative;
  display: block;
  display: flex;
  border-radius: 6px;
  border: 2px solid #373737;
  padding: 15px 8px 15px 10px;
  text-align: left;
  width: 100%;
}
@media screen and (min-width: 960px) {
  .label {
    width: 50%;
  }
}
.label .input {
  background-color: transparent;
  outline: none;
  border: none;
  color: #c5c5c5;
  font-size: 16px;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar {
  display: inline-block;
  width: 3px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  animation: scale-up4 1s linear infinite;
}

.bar:nth-child(2) {
  height: 35px;
  margin: 0 5px;
  animation-delay: 0.25s;
}

.bar:nth-child(3) {
  animation-delay: 0.5s;
}

@keyframes scale-up4 {
  20% {
    background-color: white;
    transform: scaleY(1.5);
  }
  40% {
    transform: scaleY(1);
  }
}
/* src/components/NotFound.css */
.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #f8f9fa;
  color: #333;
}

.not-found-title {
  font-size: 6rem;
  margin: 0;
}

.not-found-message {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.not-found-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  text-decoration: none;
}

.not-found-button:hover {
  background-color: #0056b3;
}

.container {
  max-width: 100%;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  box-shadow: 0px -1px 3px var(--bg-color);
  background-color: var(--bg-color3);
  color: var(--letter-color2);
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: var(--letter-color2);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
  color: var(--letter-color2);
}

.footer-col ul li a:hover {
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  transition: all 0.5s ease;
  color: var(--letter-color2);
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: var(--bg-color);
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
